.frage-wrap{
    text-align: center;
/*  overflow: hidden; */
    background-color:#48cbe8;
}
.frage{
    display:block;
    font-size: 27px;
    margin: 0;
    font-family: 'fira_sansbook';
    color: #fff;
    padding: 39px 0;
    /*background-color: #48cbe8; 67dffa*/
}

.contact-form {
    color: #a3a7b4;
    font-family: 'fira_sanslight';
}
.block .add{
    height: 135px;
    background-color: #67dffa;
    margin-bottom: 48px;
}
.block-form-wrap{
    width: 400px;
    margin: 0 125px;
}
.block-form{
    padding: 30px 0;
}
.contact-form-wrap{
    width: 400px;
    margin: auto;
}
.forma{
    display: inline-block;
    width:50px;
}
/*.f{
    margin-left:5px; 
}
*/
.lab{
    width: 190px;
    display: inline-block;
      font: 19px/19px 'fira_sanslight';
}
.form-1{
    display: inline-block;
    width: 190px;
    margin-bottom: 20px;
    padding: 0;
}
.form-2{
    margin-bottom: 10px;
}
.from-1{
    margin-bottom: 20px;
}
.short{
    height: 36px;
    width: 179px;
    border: 1px solid #48cbe8;
    border-radius: 2px;
    padding-left: 8px; 
    float: left;
    font-size: 13px;
  color: #48cbe8;
}
.big{
    border: 1px solid #48cbe8;
    border-radius: 2px;
    padding-left: 8px; 
    padding-top: 8px;
    padding-right: 5px;
    resize: none;
    width: 383px;
        height: 171px;
  color: #48cbe8;
    font-size: 13px;
}
.pic{
        border: 1px solid #48cbe8;
    border-radius: 2px;
    width: 187px;
    height: 76px;
    background-color: #fff;
    display: inline-block;
    float: left;
}
.pic-short{
    border: 1px solid #48cbe8;
    border-radius: 2px;
    display: inline-block;
    margin-top: 24px;
    margin-left: 20px;
    padding-left: 8px;
    width: 180px;
    height: 28px;
    font-size: 13px;
  color: #48cbe8;
}
.gap{
    margin-right: 19px;
}
.str{
    padding-left: 15px;
}
.mess{
    width: 400px;
    height: 180px;
}

*:focus {outline: none;}
:-moz-placeholder {
    color: #48cbe8;
}
::-webkit-input-placeholder {
    color: #48cbe8;
}
.btn-wrap{
    margin-bottom: 200px;
}
.but{
    position: relative;
    padding: 1px 20px;
    font-family: 'fira_sansbook', cursive;
    font-size: 20px;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
}
.btn-1 { 
    float: left; 
    background-color: #48cbe8;
    border-bottom: 3px solid #3ba8c0;
}
.btn-2 {
    float: right;
    background-color: #849db5;
    border-bottom: 3px solid #687b8f;
}
.btn-1:hover, .btn-2:hover{
    margin-top: 3px;
    border-bottom: 0px solid #687b8f;
}



